/* custom.css */
@charset "UTF-8";

body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: #fffff8;
    color: #111;
    max-width: 800px;
}

h1 { font-size: 3.2rem; }

h2 { font-size: 2.2rem; }

h3 { font-size: 1.7rem; }

h4 { font-size: 1.5rem; }

h2, h3, h4 { font-style: italic; }

article {
    position: relative;
    padding: 2rem 0rem;
}

/* Tufte style */
p, pre, ul { max-width: 55%; }

footer {
    padding: 5%;
    font-size: 70%;
}

pre {
    font-size: 10px;
    font-family: Monaco, "Lucida Console", monospace;
}

/* Inline code */
code {
    font-family: Monaco, "Lucida Console", monospace;
    font-size: 1.0rem;
}

/* Tag classes */
.navbar, .navbar-inverse, .navbar-brand, .dropdown-toggle, .navbar-nav>.dropdown>a .caret {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
}

.jumbotron {
    background: transparent;
    padding: 15px;
}

.jumbotron h1 a
{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #111;
}

/* Display code */
.highlight {
    font-family: Monaco, "Lucida Console", monospace;
    background: transparent;
}

.date-and-tags {
    font-size: 80%;
}

@media (max-width: 760px) {
    p, pre, ul { max-width: 100%; }
}
